@{
    ViewData["Title"] = "Main page";
}



<div class="jumbotron">
    <h1 class="display-4">Hello, Visitor!</h1>
    <p class="lead">
        Welcome to the webshop!</h2>
        </      p>
        <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat, est eu tempus rhoncus, arcu mauris euismod leo, non ultrices tortor libero sed arcu. Donec enim urna, lacinia facilisis augue eu, pharetra pretium est. Aenean eu enim congue, malesuada nibh non, placerat mauris. Maecenas a magna quis felis ultrices vulputate ut et nulla. Suspendisse ultricies, urna at mattis placerat, velit libero convallis elit, et hendrerit tellus mauris et ex. Quisque porttitor nunc lorem. Etiam at dictum turpis. Sed vitae metus luctus, dapibus massa eget, tempus orci. Nullam ut bibendum lacus, auctor lacinia enim. Sed lobortis enim nulla, in vehicula purus faucibus nec. Duis ex ipsum, commodo ut porttitor eget, placerat sit amet ex. Nullam posuere nunc quis mauris venenatis, at tincidunt urna vestibulum.
        Vivamus hendrerit eu metus ut placerat. In efficitur tristique ipsum, at suscipit turpis tincidunt sed. Nullam nec pharetra erat, vitae fringilla lacus. Etiam lobortis tellus quis metus aliquam convallis. In ut ex urna. Donec efficitur rutrum lectus, nec interdum nulla tincidunt id. Curabitur sollicitudin maximus placerat. Praesent venenatis ultrices ultricies. Ut condimentum vel nibh non ornare. Aenean eget vestibulum felis, et egestas dolor. Vestibulum non placerat est, in ultricies lectus.
    </p>
    <p class="lead">
        <a class="btn btn-primary" href="/Identity/Account/Register" role="button">Registration</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary" href="/Identity/Account/Login" role="button">Sign in</a>
    </p>
</div>